/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #000;
    text-decoration: underline;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    /*background-color: #333;*/
}
body {
    color: #000;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    /*box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}
header.row {
    /* sync container's padding */
    margin: 0;
}
nav li {
    list-style: none;
}
header nav a {
    color: rgb(255,255,255);
}
h1 {
    margin-top: 0;
    line-height: 0;
}

.without-outer-padding {
    padding: 0;
}
.container {
    width: 100%;
    padding: 0;
}
.container h1, .container section {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}
.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.narrow {
    padding-left: 60px;
    padding-right: 60px;
}
.under-border {
    border-bottom: solid 1px rgb(0,9,0);
}
section {
    width: 970px;
    padding-bottom: 30px;
    margin-bottom: 10px;
    text-align: left;
}
@media (max-width: 992px) {
    section {
        width: 100%;
    }
}
article {
    padding-top: 6px;
    padding-bottom: 10px;
}
article.background-purple {
    background-color: rgb(234,236,247);
}
article.background-pink {
    background-color: rgb(255,236,229);
}
article.background-blue {
    background-color: rgb(185,219,240);
}
img.header-sm {
    display: none;
}
@media (max-width: 992px) {
    img.header-md {
        display: none;
    }
    img.header-sm {
        display: block;
    }
}
/* custom */

section#introduced header h2 {
    width: 285px;
    height: 115px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(168,164,192,1);
    box-shadow: 0 1px 0 0 rgba(120,120,158,1);
}
section#introduced div {
    margin-top: 20px;
}
section#introduced p {
    font-size: 76%;
}
section#wrong-skin-care {
}
div#worst5 {
    width: 846px;
    height: 433px;
    background: url('../images/background-wrong-skin-care.jpg') no-repeat;
}
@media (max-width: 992px) {
    div#worst5 {
        width: 100%;
        background-image: none;
    }
}
section#worst5-list h2 {
    float: left;
    padding: 38px 0 0 38px;
    margin: 0;
}
section#worst5-list ul {
    float: left;
    margin: 42px 0 0 20px;
    font-size: 90%;
}
@media (max-width: 992px) {
    section#worst5-list ul {
        clear: both;
        padding: 10px;
        background-color: rgb(255,246,218);
    }
}
section#worst5-list li {
    margin-bottom: 25px;
}
section#remarkablePoint1,
section#remarkablePoint2,
section#remarkablePoint3,
section#remarkablePoint4,
section#remarkablePoint5 {
    background-color: rgb(255,255,255);
}
section#remarkablePoint1 h3 p {
    display: block;
    margin: -29px 0 0 66px;
    font-size: 66%;
}
section#remarkablePoint1 dl,
section#remarkablePoint1 ul {
    min-height: 105px;
    padding: 0 63px;
    margin-top: 30px;
}
section#remarkablePoint1 dt {
    margin-bottom: 15px
}
div#remarkable-point1-answer-text {
    padding-top: 10px;
    line-height: 170%;
}
section#remarkablePoint1 dd div:first-child img {
    float: left;
}
section#remarkablePoint1 dd div:first-child div {
    float: left;
    width: 89%;
    padding-left: 3%;
}
ul#remarkable-point1-ingredients:after {
    content: "";
    display: block;
    clear: both;
}
ul#remarkable-point1-ingredients li {
    float: left;
    height: 105px;
    padding-right: 5px;
}
ul#remarkable-point1-ingredients li:first-child {
    padding-right: 8px;
}
section#enquete h2 {
    height: 250px;
    background: url('../images/no-double-cleansing.jpg') no-repeat;
}
section#enquete div {
    height: 500px;
    background: url('../images/enquete.jpg') no-repeat;
}
section#breakMyBest h2 {
    height: 220px;
    background: url('../images/break-my-best.jpg') no-repeat;
}
section#voiceInBreakMyBest1 {
    height: 250px;
    background: url('../images/voice-in-break-my-best1.jpg') no-repeat;
}
section#voiceInBreakMyBest2 {
    height: 250px;
    background: url('../images/voice-in-break-my-best2.jpg') no-repeat;
}
section#voiceInBreakMyBest3 {
    height: 250px;
    background: url('../images/voice-in-break-my-best3.jpg') no-repeat;
}
section#blogger h3 {
    height: 100px;
    background: url('../images/header-blogger.jpg') no-repeat;
}
section#blogger ul {
    height: 355px;
    background: url('../images/blogger.jpg') no-repeat;
}
section#doctorsReport {
    height: 550px;
    background: url('../images/doctors-report.jpg') no-repeat;
}
section#FAQ {
    height: 580px;
    background: url('../images/FAQ.jpg') no-repeat;
}
section#campaign2 {
    height: 575px;
    margin-bottom: 60px;
    background: url('../images/campaign2.jpg') no-repeat;
}
section#periodical {
    height: 497px;
    background: url('../images/periodical.jpg') no-repeat;
}










.site-wrapper {
  display: table;
  width: 100%;
  max-width: 960px;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  margin: 0 auto;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-left: auto;
  margin-right: auto;
}

/* Padding for spacing */
.inner {
  padding: 0 10px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 0;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: bold;
  color: #000; /* IE8 proofing */
  color: rgba(0,0,0,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
/*
for debug
*/
