body {
  padding-top: 20px;
  background-color: #FFF;
}
section {
  margin-bottom: 80px;
}
h1,h2 {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
em {
  color: red;
  text-decoration: underline;
  font-style: normal;
}
.main-column {
  width: 970px;
  margin-left: auto;
  margin-right: auto;
}
div[class*="bg-"] {
  padding: 40px 0 80px 0;
}
.bg-red {
  background-color: rgb(235,46,86);
}
.bg-pink {
  background-color: rgb(255,233,236);
  color: rgb(23,28,97);
}
.bg-blue {
  background-color: rgb(187,214,238);
}
.bg-yellow {
  background-color: rgb(255,245,218);
}
.bg-white {
  background-color: rgb(255,255,255);
}
.left {
  float: left;
}
.right {
  float: right;
}
.btn-shadow {
  border-radius: 10px;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.3), 0 0 35px 0px rgba(0, 0, 0, 0.3) inset
}

#global-header {
  width: 960px;
  height: 85px;
  padding: 0 5px;
}
#global-header p {
  width: 680px;
  padding-left: 11px;
  font-size: .7em;
  font-weight: bold;
  line-height: 65px;
}
#main-header {
  height: 520px;
}
h2#first-time-only {
  height: 100px;
}
#enquete li {
  height: 256px;
  margin-bottom: 35px;
}
#enquete .face {
  width: 200px;
  margin-right: 30px;
}
#enquete .description {
  width: 740px;
  height: 256px;
}
#enquete .description div {
  height: 216px;
}
#enquete .monitor-profile,
#enquete .monitor-opinion {
  height: 165px;
  margin: 35px 0 0  0 ;
}
#enquete .monitor-profile {
  width: 200px;
  margin-right: 30px;
}
#enquete .monitor-opinion {
  width: 510px;
  line-height: 2.1em;
}
#blogger ul {
  height: 344px;
}
#blogger li {
  float: left;
  width: 295px;
  margin-right: 42.5px;
}
#blogger li:last-child {
  margin-right: 0;
}
#blogger li div {
  width: 200px;
}
#periodical {
  position: relative;
}
#periodical div {
  position: absolute;
  top: 450px;
}
/* ゲルLP */
#moist-gel #main-header {
  background: #FFF url('../images/gel/background.jpg') no-repeat scroll center 0;
}
#moist-gel #main-header div {
  position: relative;
  height: 520px;
}
#moist-gel #main-header header img {
  position: absolute;
}
#moist-gel #main-header img#banner-crown {
  top: 0;
  left: 0;
}
#moist-gel #main-header img#banner-header1 {
  top: 86px;
  left: 232px;
}
#moist-gel #main-header img#banner-header2 {
  top: 170px;
  left: 232px;
}
#moist-gel #main-header ul {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}
#moist-gel #main-header ul li {
  float: left;
  margin-right: 7px;
}
#moist-gel #reason section {
  margin-bottom: 20px;
}

/* クレンジングLP */
#cleansing #main-header {
  z-index: -999;
  height: 1318px;
  background: #FFF url('../images/cleansing/background.png') no-repeat scroll center 0;
}
#cleansing #main-header section {
  position: relative;
}
#cleansing #main-header div {
  position: relative;
  height: 520px;
}
#cleansing #main-header img,
#cleansing .main-offer img {
  position: absolute;
}
#cleansing #main-header img#banner-header-icon {
  top: 0;
  left: 130px;
}
#cleansing #main-header img#banner-header1 {
  top: 0;
  left: 267px;
}
#cleansing #main-header img#banner-header2 {
  top: 169px;
  left: 267px;
}
#cleansing #main-header img#banner-header3 {
  top: 260px;
  left: 130px;
}
#cleansing #main-header img#banner-header4 {
  top: 360px;
  left: 130px;
}
#cleansing .main-offer {
  position: relative;
  width: 1285px;
  height: 780px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../images/cleansing/header-main-offer.png');
  background-color: rgba(255,255,255,0);
  background-repeat: no-repeat;
  overflow: visible;
}
#cleansing .main-offer h2 {
  position: absolute;
  top: 90px;
  left: 30px;
  width: 590px;
  margin: 0;
}
#cleansing .main-offer > img {
  top: 472px;
  left: 30px;
}
#cleansing .main-offer a img {
  top: 645px;
  left: 30px;;
}
#cleansing #header-offer {
  top: 520px;
}
#cleansing .sub-offer {
  margin-top: 80px;
}
#cleansing #no-double-cleansing div {
  margin-top: 50px;
}
#cleansing #offer-long {
  padding-top: 80px;
}