section {
  margin-bottom: 80px;
}
h1 {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
em {
  color: red;
  text-decoration: underline;
  font-style: normal;
}
.main-column {
  width: 970px;
  margin-left: auto;
  margin-right: auto;
}
div[class*="bg-"] {
  padding: 40px 0 80px 0;
}
.bg-red {
  background-color: rgb(235,46,86);
}
.bg-pink {
  background-color: rgb(255,233,236);
  color: rgb(23,28,97);
}
.bg-blue {
  background-color: rgb(187,214,238);
}
.bg-yellow {
  background-color: rgb(255,245,218);
}
.left {
  float: left;
}
.right {
  float: right;
}

#global-header {
  width: 960px;
  height: 85px;
  padding: 0 5px;
}
#global-header p {
  width: 680px;
  padding-left: 11px;
  font-size: .7em;
  font-weight: bold;
  line-height: 65px;
}
#main-header {
  height: 520px;
}
#moist-gel #main-header {
  background: #000 url('../images/background-gel.jpg') no-repeat scroll center 0;
}
#moist-gel #main-header div {
  position: relative;
  height: 520px;
}
#moist-gel #main-header header img {
  position: absolute;
}
#moist-gel #main-header img#banner-crown {
  top: 0;
  left: 0;
}
#moist-gel #main-header img#banner-header1 {
  top: 86px;
  left: 232px;
}
#moist-gel #main-header img#banner-header2 {
  top: 170px;
  left: 232px;
}
#moist-gel #main-header ul {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}
#moist-gel #main-header ul li {
  float: left;
  margin-right: 7px;
}
h2#first-time-only {
  height: 100px;
}
#moist-gel #reason section {
  margin-bottom: 20px;
}
#moist-gel #enquete li {
  height: 256px;
  margin-bottom: 35px;
}
#moist-gel #enquete .face {
  width: 200px;
  margin-right: 30px;
}
#moist-gel #enquete .description {
  width: 740px;
  height: 256px;
}
#moist-gel #enquete .description div {
  height: 216px;
}
#moist-gel #enquete .monitor-profile,
#moist-gel #enquete .monitor-opinion {
  height: 165px;
  margin: 35px 0 0  0 ;
}
#moist-gel #enquete .monitor-profile {
  width: 200px;
  margin-right: 30px;
}
#moist-gel #enquete .monitor-opinion {
  width: 510px;
  line-height: 2.1em;
}
#moist-gel #blogger ul {
  height: 344px;
}
#moist-gel #blogger li {
  float: left;
  width: 295px;
  margin-right: 42.5px;
}
#moist-gel #blogger li:last-child {
  margin-right: 0;
}
#moist-gel #blogger li div {
  width: 200px;
}
#moist-gel #periodical {
  position: relative;
}
#moist-gel #periodical div {
  position: absolute;
  top: 450px;
}